body {
    font-family: sans-serif;
    background-color: linen;
    color: seagreen;
}

h1  {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#users {
    display: flex;
}

#users > div > span {
    display: flex;
    justify-content: center;
    font-size: x-large;
    border: 1px black solid;
}

#users > div > ul {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid;
    border-radius: 10px;
    background-color: seagreen;
    color: white;
}

#users > div > ul > li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#profpic {
    border-radius: 50%;
}
