* {
  background-color: rgb(238, 238, 200);
}
h1 {
  text-align: center;
}

.image {
  margin-top: 1rem;
  width: 15%;
  border-radius: 50%;
}
li {
  color: white;
  list-style-type: none;
  text-align: center;
  background-color: rgb(65, 65, 100);
}
ul {
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
  background-color: rgb(167, 167, 241);
  align-content: center;
  text-align: center;
}
.nameCard2 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;

  /* text-align: center;
  justify-content: center; */
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}
.links {
  display: flex;
  justify-content: space-around;
  /* justify-content: center; */

  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}
.card {
  border: solid 1px black;
  display: block;
  background-color: rgb(137, 238, 238);
  /* margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px; */
  width: 300px;
  height: 150px;
  border-radius: 20px;
  text-align: center;
}
